.tile {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto;
}

#tile-1 .tab-pane {
  padding: 15px;
}

#tile-1 .nav-tabs {
  position: relative;
  border: none;
  border-radius: 90px;
  padding: 10px;
  background: #161616;
  box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.1), 6px 6px 12px #000;
  display: flex;
  align-items: center;
  row-gap: 20px;
}

#tile-1 .nav-tabs li {
  margin: 0px;
  text-align: left;
}

#tile-1 .nav-tabs li a {
  position: relative;
  margin: 0px auto;
  padding: 15px 40px;
  font-size: 16px;
  border: none;
  color: rgb(255, 255, 255);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  font-weight: 600;
}

#tile-1 .nav-tabs a:hover {
  color: #f93b42;
}

#tile-1 .slide {
  display: inline-block;
  width: 216px;
  height: 64px;
  border-radius: 64px;
  background-color: #161616;
  box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.1),
    inset 4px 4px 8px #000;
  position: absolute;
  z-index: 0;
  bottom: 50%;
  transform: translateY(50%);
  transition: all 0.4s linear;
}

#tile-1 .nav-tabs .active {
  background-color: transparent;
  border: none;
  color: #f93b42;
}

.how_it_work {
  position: relative;

  .tab_section {
    width: 100%;

    .tab-content {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 60px;

      .tab_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        column-gap: 80px;

        .image {
          width: 415px;

          img {
            object-fit: contain;
            width: 100%;
          }
        }

        .info {
          h3 {
            font-weight: 600;
            font-size: 32px;
            color: #fff;
            margin-bottom: 10px;
          }

          p {
            margin-bottom: 30px;
          }

          ul {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            li {
              display: flex;
              align-items: center;
              column-gap: 10px;
              font-weight: normal;
              font-size: 16px;
              line-height: 26px;
              color: #fff;

              .material-symbols-outlined {
                color: #1d9e25;
              }
            }
          }
        }
      }
    }
  }

  .how_it_work_bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(22, 22, 22);
    background: linear-gradient(335deg,
        rgba(22, 22, 22, 1) 0%,
        rgba(22, 22, 22, 1) 15%,
        rgba(22, 22, 22, 0.5) 38%,
        rgba(22, 22, 22, 0.5) 76%,
        rgba(22, 22, 22, 1) 100%),
      url(../assets/how-it-work-bg.png);
    background-size: 100%;
  }
}

span.checkmark.material-symbols-outlined {
  font-weight: bold;
}