.connection {
  position: relative;
  width: 100%;
  padding: 100px 0;

  .all_connection {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    column-gap: 40px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;

    a {
      height: 130px;
      width: 100%;
      max-width: 360px;
      padding: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 15px;
      //   background: #161616;
      background: radial-gradient(
        circle,
        #161616 0%,
        #161616 60%,
        #161616 100%
      );
      box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.1), 6px 6px 12px #000;
      transition: all 0.2s;

      &:hover {
        // background: rgb(198, 30, 30);
        background: radial-gradient(
          circle,
          rgb(75, 20, 20) 0%,
          rgba(22, 22, 22, 1) 50%,
          rgba(22, 22, 22, 1) 100%
        );
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0),
          0px 0px 0px rgba(0, 0, 0, 0),
          inset -3px -3px 8px rgba(255, 255, 255, 0.1), inset 5px 5px 10px #000;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .conntection_bg {
    background: rgb(22, 22, 22);
    background: linear-gradient(
        180deg,
        rgba(22, 22, 22, 1) 0%,
        rgba(22, 22, 22, 0.8) 20%,
        rgba(22, 22, 22, 0.8) 80%,
        rgba(22, 22, 22, 1) 100%
      ),
      url(../assets/connection-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
