@media screen and (max-width: 1100px) {
  footer .content .section {
    width: 100%;
    max-width: 260px;
  }

  .pricing .price_content .tab_content .monthly_content .high_card,
  .pricing .price_content .tab_content .annualy_content .high_card {
    padding: 20px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .connection .all_connection {
    row-gap: 30px;
    column-gap: 30px;
  }

  .connection .all_connection a {
    width: 30%;
  }
}

@media screen and (max-width: 950px) {
  .login_btn {
    display: none;
  }

  .navbar nav a.brand {
    width: 150px;
  }

  .btn_accent {
    padding: 10px;

    .inside {
      padding: 10px 30px;
    }
  }

  .navbar {
    overflow-x: hidden;
    transition: 0.2s;
    padding: 15px 0;
  }

  .navbar nav .nav_links {
    padding-top: 100px;
    row-gap: 60px;
    flex-direction: column;
    position: absolute;
    background: rgb(22, 22, 22);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 100vh;
    z-index: -1;
    transform: translateX(100%);
    // display: none;
    transition: 0.2s;
    opacity: 0;

    .mobile_login {
      display: inline-block;
    }
  }

  .burger {
    display: flex !important;
    flex-direction: column;
    width: 30px;
    height: 22px;
    cursor: pointer;
    justify-content: space-between;
    position: relative;
    z-index: 99;
    transition: 0.2s;
  }

  .burger .line1,
  .burger .line2,
  .burger .line3 {
    background: white;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    transition: 0.2s;
  }

  .app_features .feature_content {
    grid-template-columns: repeat(2, 1fr);
  }

  header .slider .content {
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 150px;
  }

  header .slider .content .slider_image,
  header .slider .content .info {
    width: 100%;
    text-align: center;
  }

  header .slider .content .info h1 {
    max-width: unset;
  }

  header .slider .mouse_down {
    display: none;
  }

  header {
    height: unset;
  }

  header .top-bg {
    background-size: 150%;
  }

  header .bottom-bg {
    width: 100%;
    bottom: -50px;
  }

  footer .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
  }

  .contact .contact_content {
    flex-wrap: wrap;
    justify-content: center;
  }

  #tile-1 .nav-tabs .active {
    background-color: transparent;
    border: none;
    color: #f93b42;
    box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.1),
      inset 4px 4px 8px #000;
    background: #161616;
    border-radius: 60px;
  }

  .how_it_work #tile-1 .slide {
    display: none;
  }

  .how_it_work .nav-justified .nav-item {
    flex-basis: unset;
    flex-grow: unset;
  }

  #tile-1 .nav-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
  }

  #tile-1 .nav-tabs li a {
    // width: 270px;
    justify-content: flex-start;
  }

  .how_it_work .tab_section .tab-content .tab_items {
    display: flex;
  }

  .how_it_work .tab_section .tab-content .tab_items .image {
    width: 40%;
  }

  .how_it_work .tab_section .tab-content .tab_items .info {
    width: 50%;
  }

  .connection .all_connection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .connection .all_connection a {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}

@media screen and (max-width: 900px) {
  .roadmap .all_steps {
    grid-template-columns: 1fr 70px 1fr;
  }

  .roadmap .step .line_hr {
    width: 37px;
  }

  .roadmap .step .line_hr::after {
    left: 25px;
  }

  .roadmap .all_steps .second_step .line_hr::after,
  .roadmap .all_steps .fourth_step .line_hr::after {
    right: 25px;
  }
}

@media screen and (max-width: 770px) {
  header .slider .content {
    padding-top: 60px;
  }

  .how_it_work .tab_section .tab-content .tab_items {
    flex-direction: column;
    row-gap: 60px;
  }

  .how_it_work .tab_section .tab-content .tab_items .image {
    width: 60%;
  }

  .how_it_work .tab_section .tab-content .tab_items .info {
    width: 100%;
  }
}

@media screen and (max-width: 758px) {
  .roadmap .center_line {
    margin-top: 96px;
  }
}

@media screen and (max-width: 650px) {
  .pricing .price_content .tab_content .monthly_content,
  .pricing .price_content .tab_content .annualy_content {
    flex-wrap: wrap;
  }

  .pricing .price_content .tab_content .monthly_content .high_card,
  .pricing .price_content .tab_content .annualy_content .high_card {
    width: 100%;
  }

  .app_features .feature_content,
  #tile-1 .nav-tabs,
  footer .content {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .content .section,
  .contact .contact_content .high_card {
    width: 100%;
    max-width: 100%;
  }

  header .top-bg {
    background-size: 269%;
  }

  header .bottom-bg {
    width: 186%;
    bottom: -50px;
  }

  .roadmap .center_line {
    display: none;
  }

  .roadmap .all_steps {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .roadmap .all_steps .step {
    max-width: unset;
    margin: 0;

    .line_hr {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .connection .all_connection {
    grid-template-columns: 1fr;
  }

  .connection .all_connection a {
    max-width: unset;
  }

  header .slider .content .info h1 {
    font-size: 32px;
    line-height: 43px;
  }

  .top h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .top .sub_tag {
    padding: 10px 25px;
  }

  .how_it_work .tab_section .tab-content .tab_items .image {
    width: 100%;
  }

  .pricing .price_content .nav-tabs {
    margin-bottom: 30px;
  }

  .pricing .price_content .tab_content .monthly_content .high_card .card_head p,
  .pricing
    .price_content
    .tab_content
    .annualy_content
    .high_card
    .card_head
    p {
    font-size: 18px;
  }

  .pricing
    .price_content
    .tab_content
    .monthly_content
    .high_card
    .card_head
    h3,
  .pricing
    .price_content
    .tab_content
    .annualy_content
    .high_card
    .card_head
    h3,
  .pricing
    .price_content
    .tab_content
    .monthly_content
    .professional.high_card
    .card_head
    h3,
  .pricing
    .price_content
    .tab_content
    .annualy_content
    .professional.high_card
    .card_head
    h3 {
    font-size: 40px;
  }

  .pricing
    .price_content
    .tab_content
    .monthly_content
    .high_card
    .card_body
    ul
    li,
  .pricing
    .price_content
    .tab_content
    .annualy_content
    .high_card
    .card_body
    ul
    li {
    font-size: 14px;
  }

  .pricing .price_content .tab_content .monthly_content .high_card,
  .pricing .price_content .tab_content .annualy_content .high_card {
    padding: 20px;
  }

  .app_features .feature_content .feature_card {
    padding: 20px;
    border-radius: 20px;
  }

  header .slider .content .info p {
    font-size: 14px;
    line-height: 28px;
  }

  .app_features .feature_bg {
    background-size: 485%;
    top: 0;
    bottom: unset;
  }

  .how_it_work .how_it_work_bg {
    background-size: 243%;
  }

  .pricing .pricing_bg {
    background-size: 509%;
    top: -0px;
    bottom: unset;
  }

  .connection .conntection_bg {
    background: linear-gradient(
        180deg,
        #161616 0%,
        rgba(22, 22, 22, 0.4) 20%,
        rgba(22, 22, 22, 0.4) 80%,
        #161616 100%
      ),
      url(../assets/connection-bg.png);
    background-position: top;
    background-size: 234%;
    top: 0;
    bottom: unset;
  }

  .blog .blog_content > .high_card {
    width: calc(100vw - 40px);
  }

  .pricing .price_content .tab_content .monthly_content .high_card,
  .pricing .price_content .tab_content .annualy_content .high_card {
    border-radius: 15px;
  }
}
